*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

/********************CONTENEDOR GENERAL*******************/
#contenedor{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

/************************CABECERA*************************/
#cabecera{
    background: linear-gradient(#173C6A, transparent);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1%;

}

.lado-izquierdo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.lado-izquierdo .img1{
    margin-top: 31%;
}

.lado-izquierdo .img2{
    margin-top: 44%;
    margin-left: 4%;
}

.lado-izquierdo .img3{
    margin-top: 4%;
    margin-left: 4%;
}

/*************LADO DERECHO*************/
.lado-derecho{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 7.8%;
    margin-right: 3%;
    width: 24%;
}

/**********ESCUDO**********/
.img4{
    display: flex;
    width: 100%;
    justify-content: center;
}

.img4 img{
    width: 85%;
}

/**********BUSCAR*********/
.input-group{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: 100%;
    justify-content: center;
    margin-left: 4.5%;
}

.input-group input:hover{
    background-color: #d9e0e6;
    color: #fff;
    outline: none;
}

.input-group input{
    width: 500%;
    height: 4px;
    padding: 5%;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
}

/**********BOTON*********/
button{
    cursor: pointer;
    background-color: #fff;
    border-radius: 0 15% 15% 0;
    width: 65%;
    height: 40px;
    outline: none;
}

button img{
    width: 50%;
    margin-top: 13%;
}

button:hover {
    background-color: #0a72b9;
    color: #fff;
    outline: none;
}

/***********MENU LADO DERECHO************/
.menu-lado-derecho{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
}

.menu-lado-derecho ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
}

/************************MENU*********************************/
#menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #0a72b9;
    margin-bottom: 1%;
}
#menu ul {
    justify-content: space-between;

}

#menu ul li {
    text-align: center;
    display: inline-block;
}

#menu ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px 50px 20px 50px;
}

#menu ul li a:hover {
    background-color:#173C6A;
}

/************************CONTENEDOR 2*************************/
#contenedor2{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 1%;
    margin-left: 1%;
    
}

/****************************SLIDER***************************/
#slider {
    background-color: #ccc;
    position: relative;
    width: 67%;
    height: 25vw;
    margin: 0px auto;
    perspective: 1200px;
    transform-style: preserve-3d;
    margin-bottom: 7%;
}

input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: 0 15px 0 0;
    transform: translateX(-83px);
    cursor: pointer;
    border: solid 1px #000;
  }
  
  
  input[type=radio]:nth-child(5) {
    margin-right: 0px;
  }
  
  input[type=radio]:checked {
    opacity: 1;
}

#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#s1:checked ~ #slide1,
 #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
   #s4:checked ~ #slide4,
    #s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

#s1:checked ~ #slide2,
 #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
   #s4:checked ~ #slide5,
    #s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(20%, 0, -100px);
}

#s1:checked ~ #slide3,
 #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
   #s4:checked ~ #slide1,
    #s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

#s1:checked ~ #slide5,
 #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
   #s4:checked ~ #slide3,
    #s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-20%, 0, -100px);
}

#s1:checked ~ #slide4,
 #s2:checked ~ #slide5,
  #s3:checked ~ #slide1,
   #s4:checked ~ #slide2,
    #s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}



/***************************CONTENIDO*************************/
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    justify-content: start;
  }
  
  .card {
    overflow: hidden;
    box-shadow: 0px 2px 20px #d7dfe2;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    width: 394px;
    margin: 0rem 1rem 0rem 0rem ;
    transition: 250ms all ease-in-out;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 40px #d7dfe2;
  }
  
  .banner-img {
    position: absolute;
    object-fit: cover;
    height: 14rem;
    width: 100%;
  }
  
  .category-tag {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background: red;
    padding: 0.5rem 1.3rem 0.5rem 1rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 1rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  .popular {
    background: #ef257a;
  }
  
  .technology {
    background: #651fff;
  }
  
  .psychology {
    background: #e85808;
  }
  
  .card-body {
    margin: 15rem 1rem 1rem 1rem;
  }
  
  .blog-hashtag {
    font-size: 0.9rem;
    font-weight: 500;
    color: #4d97b2;
  }
  
  .blog-title {
    line-height: 1.5rem;
    margin: 1rem 0 0.5rem;
  }
  
  .blog-description {
    color: #616b74;
    font-size: 0.9rem;
  }
  
  .card-profile {
    display: flex;
    margin-top: 2rem;
    align-items: center;
  }
  
  .profile-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .card-profile-info {
    margin-left: 1rem;
  }
  
  .profile-name {
    font-size: 1rem;
  }
  
  .profile-followers {
    color: #616b74;
    font-size: 0.9rem;
  }

/************************BARRA LATERAL*************************/
#barra-lateral{
    width: 20%;
    margin-left: 8%;
    background-color: #000;
    margin-bottom: 1%;
    
}


/************************PIE DE PAGINA*************************/
#pie-pagina{
    background-color: rgb(161, 183, 185);
    width: 100%;
    padding: 1%;
}